@import "./utils/variables.scss";
@import "./components/page-header.scss";
@import "./components/logo.scss";
@import "./components/hero.scss";
@import "./components/necessary-skills.scss";
@import "./components/employments.scss";
@import "./components/team.scss";
@import "./components/clients.scss";
@import "./components/footer.scss";
@import "./components/portfolio.scss";
@import "./components/modal.scss";
@import "./components/mobile-menu.scss";
