.footer {
  @extend %container;
  max-width: 1600px;
  background-color: $primary-background-color;
  display: inline-flex;
  justify-content: center;
  &__address {
    display: block;
    text-align: center;
    @media screen and (min-width: 768px) {
      width: 232px;
      margin-right: 165px;
      margin-left: 61px;
    }
    @media screen and (min-width: 1200px) {
      text-align: start;
      margin-right: 70px;
      margin-left: 0;
    }
  }
  &__logo {
    display: block;
    margin-bottom: 20px;
    font-family: Raleway, cursive;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    text-decoration: none;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
}
.footer-line {
  text-align: center;
  min-width: 480px;
  padding: 60px 15px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;
    justify-content: space-between;
  }
  &__table {
    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      display: inline-flex;
      margin-bottom: 0;
    }
  }
}
.address {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  &__text {
    color: $primary-white-color;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.7;
    @media screen and (min-width: 1200px) {
      margin-bottom: 9px;
    }
  }
  &__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__scroll.list {
  @extend %list;
}
.footer-social-icons__link {
  padding-top: 0;
  padding-bottom: 0pt;
  margin-left: 0;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.social-icons__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 3px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: $primary-white-color;
}
.footer-social-icons {
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
  &__svg {
    width: 20px;
    height: 20px;
    fill: $primary-white-color;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: rgba(33, 150, 243, 1);
    }
  }
}

.footer-social-icons__link .footer-social-icons__svg {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icons__link:hover .footer-social-icons__svg,
.footer-social-icons__link:focus .footer-social-icons__svg {
  width: 20px;
  height: 20px;
  fill: rgba(255, 255, 255, 1);
  background-color: rgba(33, 150, 243, 1);
}
.address a {
  padding-top: 0;
  padding-bottom: 0pt;
  margin-left: 0;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-form {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  @media screen and (min-width: 1200px) {
    width: 570px;
    min-height: 86px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;
    @media screen and (min-width: 1200px) {
      margin-top: 8px;
    }
  }
  &__field {
    display: block;
    text-align: center;
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 738px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-bottom: 10px;
      width: 570px;
    }
  }
  &__input {
    margin: 0;
    margin-right: 0;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      line-height: 1.25;
    }
    &:hover,
    &:focus {
      border-color: $accent-color;
      cursor: pointer;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      height: 50px;
      font-size: 16px;
      margin-right: 12px;
      margin-bottom: 0;
    }
  }
}
.footer {
  &__button {
    display: flex;
    color: $primary-white-color;
    background-color: $accent-color;
    border-color: $accent-color;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    padding: 10px 29px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;
  }
  &__button-send {
    fill: $primary-white-color;
  }
  &__button-text {
    margin-right: 10px;
  }
  &__button-svg {
    display: flex;
    margin: 0;
    padding-top: auto;
    padding-bottom: auto;
  }
}