.main-nav__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-first {
  color: $accent-color;
}
.logo-second-header {
  color: $primary-black-color;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-second-footer {
  color: $primary-white-color;
}
