.section {
  @extend %section;
  &__title {
    @extend %section__title;
  }
}
.section__title.visually-hidden {
  @extend %visually-hidden;
}
.skills {
  @extend %list;
  display: flex;
  &__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.71;
  }
  &__item {
    width: 270px;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $secondary-backgound;
    border-radius: 4px;
  }
  &__svg {
    color: $title-text-color;
  }
}
.skills__item:not(:last-child) {
  margin-right: 30px;
}
