.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  transition: 0.5s;
  background-color: $primary-white-color;
  visibility: hidden;
}
.mobile-menu.is-open {
  visibility: visible;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mobile-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }
  &__list {
    @extend %list;
    margin-bottom: 32px;
  }
  &__item {
    margin-bottom: 32px;
  }
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $title-text-color;
  }
  &__contacts {
    @extend %list;
    margin-bottom: 64px;
  }
  &__socials {
    @extend %list;
  }
}
.mobile-contacts {
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: $accent-color;
  }
  &__link-2 {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $primary-text-color;
  }
  &__address {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }
}

.mobile-socials {
  &__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: $accent-color;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.mobile-menu {
  &__socials {
    display: flex;
  }
  &__btn {
    justify-content: center;
    // align-items: center;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
    z-index: 81;
    @media screen and (min-width: 767,98px) {
      display: none;
    }
    &.is-open {
      display: block;
    }
    &.is-open .menu-btn__icon-open {
      display: none;
    }
    &.is-open .menu-btn__icon-close {
      display: block;
    }
    &.is-open .menu-btn__icon-close {
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
.menu-btn__icon-close {
  display: none;
  top: 0;
  .is-open & {
    display: block;
  }
}
.menu-btn__icon {
  fill: $primary-black-color;
}
