$title-text-color: #212121;
$primary-text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #fff;
$primary-black-color: #000;
$primary-background-color: #2f303a;
$secondary-backgound: #f5f4fa;

%container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}
%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
%visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
%button {
  border-radius: 4px;
  padding: 10px 32px;
  color: $primary-white-color;
  background-color: $accent-color;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
}
%section {
  justify-content: center;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
%section__title {
  margin-top: 0;
  color: $title-text-color;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 50px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}
%is-hidden {
  opacity: 0;
  pointer-events: none;
}
